# PyCharm
.idea/

# VS code 
.vscode/


# Project file
*.iml

# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store
# Ignore captured camera images
images/*

# Keep the images folder structure
!images/.gitkeep